a {
  color: black;
  text-decoration: none; }

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
  clear: both; }

h1, h2, h3, h4, h5, p, a, button {
  font-family: "Manrope", sans-serif;
  margin: 0;
  -webkit-user-select: none;
          user-select: none; }

section {
  background: #E4E4E4;
  overflow: hidden; }

.container {
  max-width: 1110px;
  width: 90%;
  margin: 0 auto;
  padding-top: 80px;
  perspective: 1000px; }

.main-title {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  margin-bottom: 48px;
  padding-left: 7px;
  color: #18191F;
  transform: translateY(-400px); }

.slideTitle {
  transform: translateY(0);
  transition: 0.7s;
  transition-timing-function: ease-out; }

.card {
  margin-bottom: 80px;
  display: inline-block;
  padding: 0 7px 24px 7px;
  border-radius: 10px;
  transition: 0.3s;
  outline: none;
  opacity: 0; }
  .card:hover {
    background: #EFEFEF;
    transition: 0.5s; }
  .card:focus-within {
    background: #DADADA;
    animation: tap 0.8s ease-in;
    animation-fill-mode: forwards;
    transition: 0.8s; }
  .card:not(:focus-within) {
    animation: tapoff 0.3s ease-in; }
  .card:nth-child(even) {
    margin-right: 50px; }
  .card:nth-child(odd) {
    float: right; }
  .card-title {
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 24px; }
    .card-title__boldWords {
      font-weight: 800; }
  .card-img {
    width: 100%; }
  .card-usePanel {
    margin-top: 20px;
    max-width: 500px; }
    .card-usePanel__title {
      font-size: 14px;
      font-weight: 800;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 2px;
      display: inline-block;
      margin-top: 11px; }
    .card-usePanel__button {
      background: #8C30F5;
      color: white;
      padding: 10px 18px;
      float: right;
      border-radius: 100px;
      border: 0;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      outline: none;
      transition: 0.2s; }
      .card-usePanel__button:focus {
        background: #660acf;
        transition: 0.2s; }

@keyframes tapoff {
  from {
    transform: scale(0.99, 0.99) rotateX(0deg) rotateY(0deg);
    box-shadow: -8px -8px 15px 8px rgba(0, 0, 0, 0.1), 8px 8px 15px 8px #fafafa, 0 0 15px 8px #e6e6e6; }
  to {
    transform: scale(1, 1);
    box-shadow: none; } }

@media screen and (min-width: 1195px) {
  .slideOneCard {
    transform: translateX(-1500px); }
  .slideTwoCard {
    transform: translateX(1500px); }
  .slideThreeCard {
    transform: translateX(-1500px); }
  .slideFourCard {
    transform: translateX(1500px); }
  .slide-visible {
    transform: translate(0);
    transition: 1s;
    transition-timing-function: ease-out;
    opacity: 1; } }

@media screen and (max-width: 1195px) {
  .slideRight-first {
    transform: translateX(1200px); }
  .slideRight {
    transform: translateX(1200px); }
  .slideLeft {
    transform: translateX(-1200px); }
  .slide-visible {
    transform: translate(0);
    transition: 1s;
    transition-timing-function: ease-out;
    opacity: 1; } }

@media screen and (min-width: 1024px) {
  .card:nth-child(even) {
    margin-right: 50px; }
  .card:hover {
    transform: scale(1.02, 1.02);
    box-shadow: 13px 13px 20px 10px rgba(0, 0, 0, 0.2), -13px -13px 20px 10px #fafafa, 0 0 20px 10px #e6e6e6; }
  @keyframes tap {
    from {
      transform: scale(1.02, 1.02); }
    10% {
      transform: scale(1.01, 1.01) rotateX(-1.2deg) rotateY(1.2deg); }
    30% {
      transform: scale(1, 1) rotateX(0.5deg) rotateY(-0.5deg); }
    80% {
      transform: scale(0.99, 0.99) rotateX(-0.5deg) rotateY(0.5deg); }
    to {
      transform: scale(0.99, 0.99) rotateX(0deg) rotateY(0deg);
      box-shadow: -8px -8px 15px 8px rgba(0, 0, 0, 0.1), 8px 8px 15px 8px #fafafa, 0 0 15px 8px #e6e6e6; } } }

@media screen and (max-width: 1024px) {
  .card:nth-child(even) {
    margin-right: 0; }
  .card:hover {
    transform: scale(1.005, 1.005);
    box-shadow: 8px 8px 15px 6px rgba(0, 0, 0, 0.2), -8px -8px 15px 6px rgba(250, 250, 250, 0.8), 0 0 15px 6px #e6e6e6; }
  @keyframes tap {
    from {
      transform: scale(1.005, 1.005); }
    10% {
      transform: scale(1, 1) rotateX(-1.2deg) rotateY(1.2deg); }
    30% {
      transform: scale(1, 1) rotateX(0.5deg) rotateY(-0.5deg); }
    80% {
      transform: scale(0.99, 0.99) rotateX(-0.5deg) rotateY(0.5deg); }
    to {
      transform: scale(0.99, 0.99) rotateX(0deg) rotateY(0deg);
      box-shadow: -8px -8px 15px 8px rgba(0, 0, 0, 0.1), 8px 8px 15px 8px #fafafa, 0 0 15px 8px #e6e6e6; } } }

@media screen and (max-width: 768px) and (min-width: 425px) {
  .main-title {
    font-size: 6.2vw;
    margin-bottom: 6.2vw; }
  .card-title {
    font-size: 3.7vw;
    margin-bottom: 3vw; }
  .container {
    padding-top: 10vw; } }

@media screen and (max-width: 425px) {
  .main-title {
    font-size: 27px;
    margin-bottom: 26px; }
  .card-title {
    font-size: 16px;
    margin-bottom: 10px; }
  .container {
    padding-top: 40px; }
  .card {
    margin-bottom: 50px; }
  .card-usePanel__title {
    font-size: 3.1vw; } }
