* {
    box-sizing: border-box;
}
body {
    background-color: indigo;
    color: khaki;
}
h3,
h4 {
    text-align: center;
}
header {
    display: flex;
    justify-content: space-between;
}
header button {
    background-color: salmon;
    border: 1px solid rgb(122, 12, 0);
    border-radius: 3px;
    color: indigo;
    padding: 7px 14px;
    cursor: pointer;
    transition: 0.3s;

}
header button:hover {
    background-color: rgb(255, 105, 88);
    transform: scale(1.01,1.01);
}
.form {
    padding: 10px;
    border: 1px solid goldenrod;
    border-radius: 4px;
}
input[type='text'], input[type='email'], input[type='password'] {
    background-color: rgb(255, 254, 245);
    border: 1px solid gold;
    color: rgb(87, 63, 2);
    padding: 5px 10px;
    transition: 0.2s;
}
input[type='text']:focus, input[type='email']:focus, input[type='password']:focus {
    padding: 7px 14px;
    outline: none;
}
input[type='text']::placeholder, input[type='email']::placeholder, input[type='password']::placeholder {
    color: rgba(102, 76, 10, 0.678);
}
.registration-form input {
    margin-bottom: 10px;
}
.reg_btn {
    background-color: rgb(255, 250, 200);
    border: 1px solid gold;
    color: indigo;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 900;
    padding: 7px 14px;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.mainTextBlock {
    padding-top: 50px;
}
.mainTextBlock > p:nth-child(3), .mainTextBlock > ul {
    margin: 5px 0;
}
.mainDiv {
    padding-top: 50px;
}
.mainDiv > form {
    width: 500px;
    margin: 0 auto;
    overflow: hidden;
}
label > input, button[name='reg_btn'] {
    display: block;
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
}
.log-inputs > label {
    margin-right: 15px;
}
.log-inputs {
    display: flex;
    align-items: center;
}
.gridImgWrap {
    display: grid;
    grid-template-columns: 31.2% 31.2% 31.2%;
    column-gap: 3.2%;
    margin-top: 40px;
}
.imgItem {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;
}
.imgItem > img{
    height: 20vw;
    width: 100%;
}
.imgItem:hover::after {
    position: absolute;
    opacity: 0.8;
    left: 0;
    right: 0;
    bottom: 4px;
    content: attr(data-title);
    color: white;
    margin: 0 auto;
    background-color: salmon;
    padding: 5px 7px;
    text-align: center;
}
@media screen and (max-width: 991.98px) {
    .gridImgWrap {
        grid-template-columns: 48.4% 48.4%;
    }
    .imgItem > img{
        height: 30vw;
    }
}
.logout {
    display: flex;
    align-items: center;
}
.logout > form {
    margin-left: 10px;
}
.hidden {
    opacity: 0;
}
.slowShow {
    animation: slowShowAnim forwards ease 1s;
}
@keyframes slowShowAnim {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    60% {
        opacity: 0.8;
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.inputFileBlock {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    width: 177px;
    transition: 0.2s;
}
.inputFileBlock:hover {
    color: rgb(255, 237, 77);
    transform: scale(1.02,1.02);
}
.inputFileBlock-input {
    pointer-events:none;
    user-select:none;
    outline: 0;
    opacity: 0;
    width: 0;
    height: 0;
}
.inputFileBlock-icon {
    background-image: url('../icon/file.png');
    background-size: cover;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.wrap-upload_btn {
    display: flex;
    cursor: pointer;
    transition: 0.2s;
}
.wrap-upload_btn:hover {
    color: rgb(255, 237, 77);
    transform: scale(1.02,1.02);
}
.buttonAsText {
    border: none;
    background: none;
    color: khaki;
    font: 16px "Times New Roman", sans-serif;
    cursor: pointer;
    padding: 0 6px;
    transition: 0.4s;
}
.buttonAsText:hover {
    color: rgb(255, 237, 77);
}
.buttonGallery:hover {
    transform: scale(1.02,1.02);
}
.wrap-upload_btn > p {
    margin: 0;
}
.backBtn {
    transition: 0.2s;
}
.backBtn:hover {
    transform: scale(1.1,1.1);
}
.select {
    background-color: salmon;
    border: 1px solid rgb(122, 12, 0);
    border-radius: 2px;
    outline: 0;
    border: 0;
    color: indigo;
}
.select > option {
    background-color: salmon;
    border: 0;
    outline: 0;
    color: indigo;
}